* {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

.row {
  /*          Header       */ }
  .row:before {
    content: "";
    display: table;
    clear: both; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  /*           hero               */ }
  header nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        line-height: 5rem;
        display: block;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 2rem;
        font-size: 1.6rem; }
        header nav ul li a:hover {
          color: #02c7e5; }
  header nav img {
    padding: 1rem; }

.hero {
  background-image: url(http://www.serviceplan.com/files/serviceplan.com/06_Press/Press-Releases/2014/14-10-09_employerbranding2014/employerbranding_teaser.jpg);
  width: 100%;
  height: 50rem;
  background-size: cover;
  background-position: center;
  position: relative; }

strong {
  font-size: 3.2rem; }

.slogan {
  background-color: rgba(0, 0, 0, 0.6);
  float: right;
  padding: 5%;
  font-size: 3rem;
  color: #FFF;
  margin-top: 12%;
  text-transform: uppercase;
  position: absolute;
  right: 0px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

[class^="col-"] {
  float: left; }

.circle {
  position: absolute;
  bottom: 10%;
  left: 35%; }

.circle-white, .circle-white:after, .circle-white:before {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: 0.4s ease-in-out;
  display: inline-block; }

.circle-white, .circle-white:after, .circle-white:before {
  position: relative;
  margin-left: 3rem;
  /*     Elem-3       */ }
  .circle-white:hover, .circle-white:hover:after, .circle-white:hover:before {
    background-color: #FFF; }

.elem-3 {
  float: left;
  max-width: 100%;
  text-align: center; }

.fa-elem {
  padding: 15%;
  background-color: #313234;
  color: #FFF;
  border-radius: 40%;
  transition: 0.5s ease-in-out; }

section > .container {
  margin: 5% auto; }

i.fa.fa-search, .col-4:hover i.fa-search.fa, i.fa.fa-laptop, .col-4:hover i.fa-laptop.fa, i.fa.fa-cogs, .col-4:hover i.fa-cogs.fa {
  font-size: 4.8rem; }

.elem-3 h1 {
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  font-size: 1.8rem;
  margin: 10%; }

.elem-3 p {
  text-align: center;
  line-height: 2.5rem;
  padding: 0 5%;
  font-size: 1.8rem; }

.elem-3:hover > h1 {
  color: #02c7e5; }

.elem-3:hover > i {
  background-color: #02c7e5; }

.header {
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-size: 4.8rem;
  font-weight: bold; }

.paragraph {
  margin: 5% auto;
  padding: 0 5%;
  font-size: 1.8rem;
  line-height: 3.2rem;
  /*        picture         */ }

.gallery, .icon-img {
  width: 100%;
  height: auto;
  max-width: none; }
  .gallery img, .icon-img img {
    width: 100%;
    height: 100%; }

.gallery-row div {
  position: relative;
  height: 20rem; }

.icon-img {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: none; }

.fa-search-plus:before, .fa-chain:before, .fa-link:before {
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #FFF;
  border-radius: 0.5rem;
  position: absolute;
  content: "";
  top: 45%; }

.fa-search-plus:before {
  right: 70%; }

.fa-chain:before {
  left: 30%; }

.fa-link:before {
  left: 59%; }

.gallery-row > div > .fa, .col-4:hover .gallery-row > div > .fa {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  position: absolute; }

.col-2:hover .fa {
  display: inline-block; }

.col-4:hover {
  /*            chess            */ }

.bg-chess {
  background-image: url(http://c.wrzuta.pl/wi12258/60eba076000694264928238f);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  background-position: center;
  margin: auto;
  position: relative; }
  .bg-chess > h1 {
    font-size: 2rem;
    opacity: 0;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    position: absolute;
    margin: auto;
    text-align: center;
    line-height: 20rem;
    transition: 0.4s all ease-in-out; }

.bg-chess:hover > h1 {
  opacity: 1;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5); }

.people {
  margin-top: 5%; }

.people-name {
  text-align: center;
  margin-top: 20%;
  font-weight: bold;
  font-size: 2rem;
  /*          promo          */ }

.promo {
  margin: 0 auto; }
  .promo img {
    width: 30rem;
    height: 30rem;
    display: block;
    margin-top: 23%;
    margin-left: 10%; }

.promo-text-header > div {
  margin-top: 10%;
  text-transform: uppercase;
  padding: 0 0 5% 0;
  font-size: 3rem;
  padding-bottom: 5%;
  font-size: 3rem;
  font-weight: bold; }

.promo-text-description > div {
  padding: 0 4% 0 0;
  font-size: 2.4rem; }

.num {
  font-family: "Ubuntu", sans-serif; }

.numbers {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 20%;
  text-align: center; }

.numbers-text {
  color: #02c7e5;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  margin-bottom: 10%; }

.icon-6 {
  padding: 1%; }
  .icon-6 > i {
    background-color: #02c7e5;
    font-size: 1.6rem;
    padding: 3%;
    margin: 0 1.5%;
    border-radius: 20%;
    color: #FFF; }

.footer {
  background-color: #313234;
  color: #FFF;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%; }

hr {
  display: inline-block;
  margin-left: 10%;
  width: 20%; }

.footer > .row > .col-4 {
  padding: 0 2%; }

h3, h2, .footer p, .col-8 p {
  font-size: 1.6rem; }

footer {
  text-align: center;
  background-color: #202123;
  color: #FFF;
  padding: 1% 0;
  font-size: 3rem; }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%;
    /*          Header       */ }
  header {
    height: 10rem; }
    header img {
      padding: 1rem;
      margin: 0 auto;
      display: block; }
  header {
    /*           hero               */ }
    header > nav ul {
      float: none;
      text-align: center;
      list-type-style: none; }
      header > nav ul > li:nth-child(n+2) {
        margin-left: 3.3%; }
        header > nav ul > li:nth-child(n+2) > a {
          line-height: 4rem;
          display: block;
          font-size: 1.4rem; }
  strong, .slogan {
    font-size: 2.5rem; }
  .circle {
    display: none;
    /*     Elem-3       */ }
  i.fa.fa-search, .col-4:hover i.fa-search.fa, i.fa.fa-laptop, .col-4:hover i.fa-laptop.fa, i.fa.fa-cogs, .col-4:hover i.fa-cogs.fa {
    font-size: 3.8rem; }
  .elem-3 h1 {
    font-size: 1.8rem; }
  .elem-3 p {
    line-height: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 10%; }
  .header {
    font-size: 2.5rem; }
  .paragraph {
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: center;
    /*        picture         */ }
  .img-m {
    /*            chess            */ }
    .img-m img {
      display: block;
      margin: 0 auto;
      width: 50%; }
  .bg-chess {
    margin-top: 10%;
    position: static; }
    .bg-chess > h1 {
      font-size: 3rem;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.4);
      position: static; }
  .people {
    margin-top: 0%; }
  .people-name {
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    font-size: 3rem;
    /*          promo          */ }
  .promo-img img {
    margin: 0 auto;
    width: 50%;
    height: auto; }
  .promo {
    margin: 0 auto; }
  .promo-text-header > div {
    margin-top: 1%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center; }
  .promo-text-description > div {
    padding: 0.8rem;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3rem; }
  .numbers {
    margin-top: 2%;
    font-size: 5.4rem; }
  .numbers-text {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 5%; }
  .icon-6 {
    padding-bottom: 10%; }
    .icon-6 > i {
      margin: 2% 6%;
      padding: 5%;
      font-size: 2rem; }
  hr {
    width: 40%; }
  h4 {
    font-size: 2rem; } }

@media only screen and (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%;
    /*          Header       */ }
  header {
    height: 30rem;
    /*           hero              */ }
    header img {
      padding: 1rem;
      margin: 0 auto;
      display: block; }
    header > nav ul {
      padding: 0;
      float: none; }
      header > nav ul > li {
        display: block; }
        header > nav ul > li > a {
          line-height: 4rem;
          display: block;
          font-size: 1.6rem;
          text-align: center; }
          header > nav ul > li > a:hover {
            color: #02c7e5; }
  strong, .slogan {
    font-size: 3rem; }
  .slogan {
    margin-top: 0rem; }
  .circle {
    display: none;
    /*     Elem-3       */ }
  i.fa.fa-search, .col-4:hover i.fa-search.fa, i.fa.fa-laptop, .col-4:hover i.fa-laptop.fa, i.fa.fa-cogs, .col-4:hover i.fa-cogs.fa {
    font-size: 6.8rem; }
  .elem-3 h1 {
    font-size: 2.8rem; }
  .elem-3 p {
    line-height: 3.5rem;
    font-size: 2rem;
    margin-bottom: 10%; }
  .header {
    font-size: 3.5rem; }
  .paragraph {
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
    /*        picture         */ }
  .gallery-row {
    /*            chess            */ }
    .gallery-row > div > .fa, .col-4:hover .gallery-row > div > .fa {
      display: inline;
      background: none; }
  .bg-chess {
    margin-top: 10%;
    position: static;
    color: #FFF; }
    .bg-chess > h1 {
      font-size: 3rem;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.4);
      position: static; }
  .people {
    margin-top: 0%; }
  .people-name {
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    font-size: 3rem;
    /*          promo          */ }
  .promo-img img {
    margin-top: 3%;
    margin-left: 0;
    width: 100%;
    height: auto; }
  .promo {
    margin: 0 auto; }
  .promo-text-header > div {
    margin-top: 1%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center; }
  .promo-text-description > div {
    padding: 0.8rem;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3rem; }
  .numbers {
    margin-top: 2%; }
  .numbers-text {
    font-size: 2rem;
    letter-spacing: 1.2rem;
    margin-bottom: 5%; }
  .icon-6 {
    margin-left: 10%; }
    .icon-6 > i {
      float: none; }
  hr {
    display: none; }
  h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-decoration: underline; }
  h4 {
    font-size: 1.6rem; } }
